header {
	text-align: center;
	padding: 0;
	
}

body {
 	font-family: 'Gloria Hallelujah', cursive;
 	background-image: url("https://ak6.picdn.net/shutterstock/videos/3608366/thumb/12.jpg");
	background-size: cover;

}

#board {
	width: 1300px;
	height: 125px;
	position: absolute;
}

#first, #second {
	height: auto;
	width: 50px;
	position: relative;
	left: 0px;
	top: 0px;
}

#finishLine {
	height: 100px;
	width: auto;
	position: absolute;
	right: 0px;
	padding: 0 50px 0 0 ;
}
body {
	background-color: aliceblue;
}

button {
	text-align: right;
}

